<div class="table-responsive">1212
<div *ngIf="pager.pages && pager.pages.length" class="paging" id="pager">
	<a class="go first" href="javascript:void(0);" (click)="setPage(1)"></a>
	<a class="go prev" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1)"></a>
	<a class="num" href="javascript:void(0);" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)">{{page}}</a>
	<a class="go next" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1)"></a>
	<a class="go last" href="javascript:void(0);" (click)="setPage(pager.totalPages)"></a>
</div>
</div>

<div class="table-responsive">
	* sample 1 바운드 단방향
	<table>
		<tr>
			<td>
				{{FST_REG_USR_NM}}
			</td>
			<td>
				{{FST_REG_DT}}
			</td>
		</tr>
	</table>
</div>
<div class="table-responsive">
	* sample 1 바운드 단방향
	<table>
		<tr>
			<td>
				{{FST_REG_USR_NM}}
			</td>
			<td>
				{{FST_REG_DT}}
			</td>
		</tr>
	</table>
</div>
<div class="table-responsive">
	* sample ngFor 단방향
	<table>
		<tr *ngFor="let data of sampledatas">
			<td>
				{{data.FST_REG_USR_NM}}
			</td>
			<td>
				{{data.FST_REG_DT}}
			</td>
		</tr>
	</table>
</div>
<div class="table-responsive">
	* sample ngModel 양방향<br>
	값 입력 : <input [(ngModel)]="sampleinputNgModel" type="text" /><br>
	실행결과 1 : <input [value]="sampleinputNgModel" type="text" /><br>
	단방향 실행결과 2 : {{sampleinputNgModel}}<br>
</div>
* sample ngModel 값 입력 Y 입력시 실행<br>
<div class="table-responsive" *ngIf="sampleinputNgModel === 'Y';else elseBlock">	
	보이냐
</div><ng-template #elseBlock>
	사라진다
</ng-template>

<div class="test-header">
Page Size:
<div [innerHTML] = "htmlstr|safeHtml">
	
</div>
<div>11111<a (click)="onItemClickFunc($event);" id="innerHtmlClick">******</a>############</div>
<select (change)="onPageSizeChanged()" id="pageSize">
	<option value="10" selected="">10</option>
	<option value="100">100</option>
	<option value="500">500</option>
	<option value="1000">1000</option>
</select>
</div>
<ag-grid-angular
	id="myGrid"
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
	[columnDefs]="columnDefs"
	[pagination]="pagination"
	[debug]="true"
	(gridReady)="onGridReady($event)"
	
>
</ag-grid-angular>