<h2 class="tit-level1">환경설정</h2>

<div class="subConView">			
	<div class="conWrap">
		<div class="viewTable colRow">
			<div class="row mB7 mT3">	
				<div class="col-sm-2"></div>
				<label class="col-sm-2 control-label labelTitle"><span class="fr">추천 데이터원본 뷰</span></label>
				<div class="col-sm-4">
					<!-- <div class="formInput"> -->
										<div class="input-group">
											<div class="selects">
											<select class="form-control" id="dsViewId" [(ngModel)]="searchcond.AD_DS_VIEW_ID">
												<option *ngFor="let data of viewList" value="{{data.DS_VIEW_ID}}">{{data.DS_VIEW_NM}}</option>
											</select>
											</div>
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary" (click)="search()"><i class="ti-search"></i></button>
											</span>
										</div>
									<!-- </div> -->
										
				</div>
				<div class="col-sm-4">
					<div class="remarkLayoutWrap">
						<div class="chartBtn chartBtnR">
							<a href="javascript:void(0)" class="btn btn-primary" (click)="evtBtnSaveClick()" title="저장">저장</a>
						</div>														
					</div>
				</div>
			</div>
		</div>
		<div class="segmentType colRow">
			<div class="roundBorder col49">
				<!-- <div class="writeTypeCon">
					<div class="viewTable01"> -->
						<div class="requiredInfor">					
							<div class="form-Area">
								<div class="form-group">
									<label class="control-label"><span class="star01">아이템마스터 테이블</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="detailinfo.ITEM_TBL_NM">
									</div>																			
								</div>
								<div class="form-group">
									<label class="control-label"><span class="star01">아이템마스터 컬럼</span></label>
									<div class="formInput">
										<div class="input-group">
											<input type="text" class="form-control" id="FLD_NM" [(ngModel)]="detailinfo.ITEM_COL_NM" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" data-toggle="modal" data-target="#advisorSegmentSelectModal"><i class="ti-search"></i></button>
											</span>
										</div>
									</div>																			
								</div>
							</div>
						</div>
					<!-- </div>
				</div> -->

				
				<div class="sectionCon">
					<div class="remarkLayoutWrap">
						<div class="chartBtn mT20">
							<h2 class="tit-level2">아이템 제외 Unique 컬럼</h2>
						</div>
						<div class="chartBtn chartBtnR mB10 mT10">
							<a href="javascript:void(0)" [class]="detailinfo.SEG_SQL ? 'btn btn-primary' : 'btn btn-default'" (click)="evtBtnItemNewClick()"  id="btnSql"><i class="ti-plus"></i></a>
							<a href="javascript:void(0)" (click)="evtBtnItemDeleteClick()"  class="btn btn-default" title="삭제"><i class="ti-trash"></i></a>
						</div>
					</div>
					<ag-grid-angular
							id="myItemGrid"
							style="width: 100%; height: 380px;"
							class="ag-theme-alpine"
							[rowData]="myItemGridData"
							[columnDefs]="myItemGridColumnDefs"
							[pagination]="myItemGridPagination"
							[rowHeight]="35"
							[rowSelection]="myItemGridtRowSelection"
							[debug]="true"
							paginationAutoPageSize=true
							(gridReady)="onItemGridReady($event)"
							(rowClicked)="onItemRowClick($event)"
							(gridSizeChanged)="onItemGridColumnsSizeChange($event)"
							(selectionChanged)="onItemGridSelectionChanged($event)"
						>
					</ag-grid-angular>
				</div>
			</div>
			<div class="col2">&nbsp;</div>
			<div class="roundBorder col49">
				<!-- <div class="writeTypeCon">
					<div class="viewTable01"> -->
						<div class="requiredInfor">					
							<div class="form-Area">
								<div class="form-group">
									<label class="control-label"><span class="star01">사용자마스터 테이블</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="detailinfo.USER_TBL_NM">
									</div>																			
								</div>
								<div class="form-group">
									<label class="control-label"><span class="star01">사용자마스터 컬럼</span></label>
									<div class="formInput">
										<div class="input-group">
											<input type="text" class="form-control" id="FLD_NM" [(ngModel)]="detailinfo.USER_COL_NM" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" data-toggle="modal" data-target="#advisorSegmentSelectModal"><i class="ti-search"></i></button>
											</span>
										</div>
									</div>																			
								</div>
							</div>
						</div>
					<!-- </div>
				</div> -->

				
				<div class="sectionCon">
					<div class="remarkLayoutWrap">
						<div class="chartBtn mT20">
							<h2 class="tit-level2">사용자 제외 Unique 컬럼</h2>
						</div>
						<div class="chartBtn chartBtnR mB10 mT10">
							<a href="javascript:void(0)" (click)="evtBtnItemNewClick()"  class="btn btn-default" title="새로만들기"><i class="ti-plus"></i></a>
							<a href="javascript:void(0)" (click)="evtBtnItemDeleteClick()"  class="btn btn-default" title="삭제"><i class="ti-trash"></i></a>
						</div>
					</div>
					<ag-grid-angular
							id="myUserGrid"
							style="width: 100%; height: 380px;"
							class="ag-theme-alpine"
							[rowData]="myUserGridData"
							[columnDefs]="myUserGridColumnDefs"
							[pagination]="myUserGridPagination"
							[rowHeight]="35"
							[rowSelection]="myUserGridtRowSelection"
							[debug]="true"
							paginationAutoPageSize=true
							(gridReady)="onUserGridReady($event)"
							(rowClicked)="onUserRowClick($event)"
							(gridSizeChanged)="onUserGridColumnsSizeChange($event)"
							(selectionChanged)="onUserGridSelectionChanged($event)"
						>
					</ag-grid-angular>
				</div>
			</div>

		</div>


		<div class="segmentType colRow">
			<div class="roundBorder">
				<!-- <div class="requiredInfor">					 -->
					<div class="form-Area">
						<div class="form-group">
							<label class="control-label"><span class="star01">실행토스명</span></label>
							<div class="formInput">
								<input type="text" class="form-control" [(ngModel)]="detailinfo.TOS_EXEC">
							</div>																			
						</div>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>



<app-modal-test></app-modal-test>