
// /* login */
// .loginDiv{background:#dce3e8; height:100%;}
// .nopadding{padding: 0px !important;}
// .koreanLogin{position:absolute; top:50%; left:50%; margin-left:-423px; margin-top:-290px; width:847px;}
// .info_txt{font-size:12px; color:#666; padding-bottom:10px; line-height:20px; font-weight:400;}
// .info_txt em{color: #ff9600;}
// .mainLogin{overflow:hidden; border:1px solid #b9c6d2;}
// .mainLoginLeft{float:left; width:463px; height:477px;}
// .mainLoginRight{float:right; width:382px; background:#ffffff; height:477px;}
// .brandNameArea {margin:0 0 10px 0;}


// .loginArea{width:305px; padding:0; margin:0 auto;}
// .loginArea h2{color:#000000; font-size:26px; line-height:60px;}
// .loginArea h3{color:#7c7c7c; font-size:14px; margin-top:0px; font-weight:Bold;}
// .loginArea .form-group{margin-left:0; margin-right:0; margin-bottom:15px;}
// .loginRemember {margin-top:5px; font-size:12px; color:#000;}
// .loginRemember .checkbox-inline{padding-left:0;}

// .loginInput{padding-top:20px; margin-top:0;}
// .loginInputArea{margin-top:20px;}
// .loginInputArea .form-control{border:none; border-bottom:1px solid #c5c5c5;  box-shadow: none; border-radius:0; height:32px; padding: 6px 0; } 
// .loginInputArea label{margin-bottom:0px; font-size:14px; color:#1474b3;}


// .loginBtn{display:block; width:100%; height:55px; font-size:20px; background:#1474b3; color:#ffffff; border:1px solid #4d4d4d; font-size:14px; text-align:center; line-height:55px;}
// .loginBtn:hover{color:#fff; background:#034e81; border:1px solid #034e81;}