			<div class="loginDiv">
				<div class="koreanLogin">
					<div class="brandNameArea">
						<h1>가축분뇨 전자인계관리시스템</h1>
					</div>
					<div class="mainLogin">		
						<div class="mainLoginLeft">
							<ul class="slide">
								<li><div class="loginVisual"></div></li>
								<li><div class="loginVisual02"></div></li>
								<li><div class="loginVisual03"></div></li>
							</ul>
						</div>
						<div class="mainLoginRight">
							<div class="loginArea">
								<form [formGroup]="loginForm" name="" role="form" class="form-horizontal" onkeypress="" id="validateForm">
									<div class="loginInput">
										<h2>로그인</h2>
										<p class="info_txt">
										계정(ID)과 비밀번호에서 영문은 <em>대소문자를 구별</em>하여 인식하니 입력하실때 주의하시기 바랍니다. <br />
										여러 사람이 함께 쓰는 공용 컴퓨터를 이용할 때는 개인정보 보호를 위해 이용 후에 반드시 <em>"로그아웃"</em>를 하여 주시기 바랍니다.
										</p>

										<div class="loginInputArea">							
											<div class="form-group">
												<label>계정(ID)</label>
												<input  [(ngModel)]="username" formControlName="username" type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
												<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
													<div *ngIf="f.username.errors.required">아이디를 입력 해 주세요</div>
												</div>
											</div>
											<div class="form-group">
												<label>비밀번호</label>
												<input formControlName="password" type="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
												<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
													<div *ngIf="f.password.errors.required">패스워드를 입력 해 주세요</div>
												</div>
											</div>	
											<div class="form-group">								
												<input type="checkbox" class="" id="idSave" name="">
												<label for="idSave">아이디 저장</label>
											</div>	
										</div>
										<div class="mT20">						
											<button class="loginBtn btn-blue" type="submit" (click)="onLoggedin()">로그인</button>
										</div>
									</div>
							
								</form>
							</div>
						</div>		
					</div>
					<div class="loginFooter">
						<span class="copyLogo">우)22689 인천광역시 서구 환경로 42 (경서동 종합환경연구단지 내) </span>
					</div>
				</div>

			</div>