<div class="wrapper">
	<div class="brandNameArea">
		<h1 class="brandName">Auto Machine Learning</h1>
	</div>
	<div class="row nopadding mainLogin white-bg">	
		<div class="">
			<div class="col-lg-7">
				<div class="loginVisual">
					<h3>Auto Machine Learning</h3>
					<ul>
						<li>◆Machine Learning과 Deep Learning을 기반으로 한 스마트한 AI Blue ML 솔루션</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="loginArea">
					<form [formGroup]="loginForm" name="" role="form"  class="form-horizontal" onkeypress="" id="validateForm">
					<div class="mainRightArea">
						<h2 class="loginTitle">LOGIN</h2>
						<h3>Auto Machine Learning 로그인</h3>
		
						<div class="loginInput">						
							<div class="loginInputArea">
								<div class="form-group">
									<!-- <input type="text" class="form-control input-radius" id="userName" name="userName" placeholder="ID"> -->

										<input placeholder="ID" [(ngModel)]="username" formControlName="username" type="text" class="form-control input-radius"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
										<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
											<div *ngIf="f.username.errors.required">아이디를 입력 해 주세요</div>
										</div>
								</div>
								<div class="form-group">
									<!-- <input type="password" class="form-control input-radius" id="userPasswd" name="userPasswd" placeholder="Password"> -->
										<input placeholder="Password" formControlName="password" type="password" class="form-control input-radius"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
										<div  *ngIf="submitted && f.password.errors" class="invalid-feedback">
											<div *ngIf="f.password.errors.required">패스워드를 입력 해 주세요</div>
										</div>
								</div>						
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="checkbox-out">
										<input  type="checkbox" id="check1" checked="checked" /><label for="check1" class="checkbox">아이디 저장</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="m-t-lg">
									<!-- <button class="btn btn-primary btn-block btn-md" type="submit">로그인</button> -->
									<button [disabled]="loading" class="btn btn-primary btn-block btn-md"  (click)="onLoggedin()" > 로그인 </button>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>		
	</div>
	<div class="loginFooter">
		2022© Auto Machine Learning
	</div>
</div>


