<h2 class="tit-level1">추천 유형  정의</h2>
<div class="subConView">
	<div class="stepContentWrap">
		<div class="tabWrap">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#definitionTab01" (click)="tab('SEGMENT');">추천 세그먼트</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('STAT');">통계기반 추천</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('AI');">AI기반 추천</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('MANUAL');">편성기반 추천</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('PREF');">추천선호 유형</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('LAYOUT');">추천 레이아웃</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('ITEM');">추천 아이템</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('ABTEST');">A/B 테스트</a></li>
					<li class=""><a data-toggle="tab" href="#definitionTab01" (click)="tab('DATASET');">SQL 유형</a></li>
				</ul>
				<div class="tab-content">
					<div id="definitionTab01" class="tab-pane active">
						<div class="panel-body">
							<!-- tab 컨텐츠 -->
							<div class="chartBtnArea">
								<div class="chartBtn">
									<a href="javascript:void(0);" (click)="insert()" class="btn btn-default" title="폴더추가"><i class="ti-folder"></i></a>
									<a href="javascript:void(0);" (click)="delete()" class="btn btn-default" title="폴더삭제"><i class="ti-trash"></i></a>
									<a href="javascript:void(0);" (click)="search()"  class="btn btn-default" title="새로고침"><i class="ti-loop"></i></a>
									<input class="form-control" type="hidden" id="clickFldIdBtn" ([ngModel])="selectedFldId" (click)="nodeClick()"> 
									<input class="form-control" type="hidden" id="dblClickFldIdBtn" (click)="edit_jtree()">
									<input class="form-control" type="hidden" id="moveFldIdBtn" (click)="updatePos()"><!-- 이동시 처리 위함, value=new order, new parent-->
									<input class="form-control" type="hidden" id="editFldIdBtn" (click)="updateName()">
									<!-- <input class="form-control" type="hidden" id="newFldOrdinal"> -->
								</div>														
							</div>
							<div class="definitionType">
								<div class="treeWrap">
									<div class="packTree01">
										<div class="treeCon mCustomScrollbar">
											
											<div id="definitionTree01">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- tab 컨텐츠 -->
						</div>
					</div>												
				</div>
			</div>
		</div>
		<!-- .tab-component e -->
	</div>
</div>