<div *ngIf="pager.pages && pager.pages.length" class="paging" id="pager">
	<a class="go first" href="javascript:void(0);" (click)="setPage(1)"></a>
	<a class="go prev" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1)"></a>
	<a class="num" href="javascript:void(0);" *ngFor="let page of pager.pages" [ngClass]="{numActive:pager.currentPage === page}" (click)="setPage(page)">{{page}}</a>

	<!-- 마지막 번호 -->
	<a class="lastNum" href="javascript:void(0);">{{pager.totalPages}}</a>
	<!-- 마지막 번호 -->

	<a class="go next" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1)"></a>
	<a class="go last" href="javascript:void(0);" (click)="setPage(pager.totalPages)"></a>
</div>